services:
  valkey:
    image: valkey/valkey:9-alpine
    volumes:
      - valkey_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ 'CMD', 'valkey-cli', 'ping' ]
      interval: 10s
      timeout: 5s
      retries: 3
  mailpit:
    image: axllent/mailpit:v1.28
    volumes:
      - mailpit_data:/data
    ports:
      - "8025:8025"
      - "1025:1025"
volumes:
  valkey_data:
    driver: local
  mailpit_data:
    driver: local
